[submodule "plugins/wp-manifest"]
	path = plugins/wp-manifest
	url = https://github.com/spill-the-ink/wp-manifest.git
	branch = main
[submodule "plugins/wp-calendar"]
	path = plugins/wp-calendar
	url = https://github.com/spill-the-ink/post-calendar.git
	branch = dev
